html{
  font-size:20px;  
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;
  text-align: center;
}

.myprofile{
  font-family: "Josefin Sans",sans-serif;
  font-size: 2.0rem;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}

.parent p{
  font-weight: bold;
}


.M, .skyblue{
  color: skyblue;
}

.P, .pink{
  color: rgb(255, 192, 203);
}
